{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "posts" }}
<!--{{ $latest := index ($posts.ByDate.Reverse) 0 }}-->
{{ $latest := .Site.GetPage "/posts/20260305_chisono" }}
{{ if $latest }}
<article class="post-single">
  <div class="post-single-header">
    <span class="post-single-title">{{ $latest.Title }}</span>
    <span class="post-single-date">{{ $latest.Date.Format "2 Jan 2006" }}</span>
  </div>
  <div class="post-content">{{ $latest.Content }}</div>
</article>
{{ end }}
{{ end }}
