
<!-- ── ESPERIENZE LAVORATIVE ─────────────────────────────── -->
  <div class="section-heading nopaddingtop">{{ if eq .Site.Language.Lang "en" }}Current job{{ else }}Posizione attuale{{ end }}</div>

  <div class="experience-list">

    <div class="experience-item">
      <div class="experience-left">
        <div class="experience-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="21.36" height="18.46" fill="var(--bg-elevated)" overflow="visible"><g><path d="M 14.07 1.892 L 18.83 1.892 L 18.83 6.652 L 14.071 1.892 Z M 9.326 18.46 L 9.326 8.981 L 18.809 8.981 Z" fill="var(--bg-elevated)"></path><path d="M 9.479 0 L 14.222 4.738 L 18.963 9.479 L 9.479 9.479 L 4.741 4.739 L 0 0 Z M 16.604 0.011 L 21.36 0.011 L 18.984 2.39 L 14.225 2.39 Z" fill="var(--bg-elevated)"></path></g></svg>
        </div>
      </div>
      <div class="experience-body">
        <div class="experience-role">Senior UX | UI & Product Designer</div>
        <div class="experience-company"></div>
        <div class="experience-period">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><line x1="16" y1="2" x2="16" y2="6"/><line x1="8" y1="2" x2="8" y2="6"/><line x1="3" y1="10" x2="21" y2="10"/></svg>
          {{ if eq .Site.Language.Lang "en" }}June 2025 – Present{{ else }}Giugno 2025 – Presente{{ end }}
        </div>
        <div class="experience-desc">
          {{ if eq .Site.Language.Lang "en" }}I’m currently consulting for a proptech startup, leading the complete redesign of their web application. My focus is on improving usability for the target audience, streamlining workflows, and establishing a scalable design system while enabling the development team to work independently on design tasks.{{ else }}Attualmente sto fornendo consulenza a una startup nel settore proptech, guidando la riprogettazione completa della loro applicazione web. Il mio obiettivo è migliorare l'usabilità per il pubblico di destinazione, semplificare i flussi di lavoro e creare un sistema di progettazione scalabile, consentendo al contempo al team di sviluppo di lavorare in modo indipendente sulle attività di progettazione.{{ end }}
        </div>
        <div class="experience-skills">
          <span class="portfolio-tag">Product Design</span>
          <span class="portfolio-tag">Design Systems</span>
          <span class="portfolio-tag">Figma</span>
          <span class="portfolio-tag">User Research</span>
          <span class="portfolio-tag">Ai Builder</span>
          <span class="portfolio-tag">Real Estate</span>
        </div>
      </div>
    </div>

  </div>