<div class="section-heading nopaddingtop">{{ if eq .Site.Language.Lang "en" }}Daily hardware{{ else }}Daily hardware{{ end }}</div>

  <div class="league-grid">
    <div class="league-card">
      <div class="league-logo"><img src="/assets/global/global_iphone.webp"></div>
      <div class="league-name">iPhone 15</div>
      <div class="league-sport">Cellulare</div>
    </div>
    <div class="league-card">
      <div class="league-logo"><img src="/assets/global/global_xbox.webp"></div>
      <div class="league-name">Xbox Series X</div>
      <div class="league-sport">Gaming</div>
    </div>
    <div class="league-card">
      <div class="league-logo"><img src="/assets/global/global_macbookpro.webp"></div>
      <div class="league-name">Macbook Pro 14'' 2021</div>
      <div class="league-sport">Computer</div>
    </div>
    <div class="league-card">
      <div class="league-logo"><img src="/assets/global/global_g245.webp"></div>
      <div class="league-name">Garmin Forerunner 245</div>
      <div class="league-sport">Smartwatch</div>
    </div>
  </div>