

  <div class="section-heading nopaddingtop">{{ if eq .Site.Language.Lang "en" }}Daily software{{ else }}Daily software{{ end }}</div>

  <div class="software-grid">
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_proton.svg"></div>
      <div class="league-name">Proton.me</div>
    </div>
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_claude.svg"></div>
      <div class="league-name">Claude.ai</div>
    </div>
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_notesnook.svg"></div>
      <div class="league-name">Notesnook</div>
    </div>
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_lovable.svg"></div>
      <div class="league-name">Lovable.dev</div>
    </div>
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_brave.svg"></div>
      <div class="league-name">Brave</div>
    </div>
    <div class="software-card">
      <div class="league-logo"><img src="/assets/global/global_figma.svg"></div>
      <div class="league-name">Figma</div>
    </div>
  </div>