<!-- ── STO GIOCANDO ──────────────────────────────────────── -->
  <div class="section-heading">{{ if eq $.Site.Language.Lang "en" }}Currently playing{{ else }}Sto giocando{{ end }}</div>
  <div class="games-grid">
    <!-- gioco -->
    <div class="game-card">
      <div class="game-cover">
        <img src="https://images.g2a.com/323x433/1x1x1/divinity-original-sin-2-p10000027719/b806c33cb39f49959e932b09" alt="" />
        <span class="game-badge">{{ if eq $.Site.Language.Lang "en" }}Playing{{ else }}In corso{{ end }}</span>
      </div>
      <div class="game-info">
        <div class="game-title">Divinity: Original Sin 2</div>
      </div>
    </div>
    <!-- gioco -->
    <div class="game-card">
      <div class="game-cover">
        <img src="https://cdn1.epicgames.com/offer/c4763f236d08423eb47b4c3008779c84/EGS_AlanWake2_RemedyEntertainment_S2_1200x1600-c7c8091ddac0f9669c8e5905bca88aaa" alt="" />
        <span class="game-badge">{{ if eq $.Site.Language.Lang "en" }}Playing{{ else }}In corso{{ end }}</span>
      </div>
      <div class="game-info">
        <div class="game-title">Alan Wake 2</div>
      </div>
    </div>
  </div>